<%= render 'shared/errors', obj: @style %>

<div class="row">
  <%= form_for @style do |f| %>
    <div class="well col-md-8 col-md-offset-2">
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.submit(@style.new_record? ? 'Create Style' : 'Edit Style', class: "btn btn-success") %>
    </div>
  <% end %>
</div>